:root {
  /* CSS HEX */
  --nyanza: #dff2d8ff;
  --tea-green: #c6dea6ff;
  --verdigris: #7ebdc3ff;
  --wenge: #7a6263ff;
  --sage: #ced097ff;
  --ebony: #4e5340ff;
  --davys-gray: #4d5057ff;
  --licorice: #261c15ff;
  --office-green: #157f1fff;
  --silver: rgb(240, 239, 239);
}

body {
  color: var(--licorice);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--silver);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 10px;
  width: 100%;
  margin: 0px;
  background: white;
}

h1 {
  padding-left: 30px;
  color: var(--licorice);
}

.container {
  display: flex;
  justify-content: space-between; /* Evenly distributes the buttons */
  /* align-items: center; */
  margin: 10px 0;
  width: 90%;
  gap: 10px;
}

.view {
  color: var(--licorice);
  border-radius: 5px;
  border: none;
  width: 25%; /* Use a percentage or specific width */
  /* margin: 5px; Remove margin to make buttons touch */
  padding: 15px 10px; /* Remove left/right padding to avoid spacing */
  text-align: center; /* Center text inside the button */
  background-color: var(--verdigris);
  flex-grow: 1; /* This will make buttons grow and fill available space */
}

#form {
  background: white;
  color: var(--licorice);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

select {
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

input {
  border: 1px var(--davys-gray) solid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

.form-row {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: var(--verdigris);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
  width: 85%;
  /*overflow: hidden;*/
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--office-green);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#monthly-btn {
  background: var(--tea-green);
}

#book-btn {
  background: var(--verdigris);
}
#movie-btn {
  background: var(--wenge);
}
#song-btn {
  background: var(--sage);
}
